# Python
__pycache__/
*.pyc
venv/
.env

# Data — too large for git
dataset/raw/
dataset/processed/
*.pcap

# ML weights — too large for git
ml/saved_models/*.pt
ml/saved_models/*.pkl

# Node
node_modules/

# OS
.DS_Store